@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 253, 208);
}

.imagem {
    width: auto;
    height: 450px;
    margin: 100px 250px 0 250px;
    border-radius: 10px 0 0 10px ;
}

.content {
    background-color: white;
    width: 440px;
    margin: -455px 250px 0 550px;
    height: 450px;
    padding: 30px;
    border-radius: 0 10px 10px 0;
    
}

.title {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 10px;
    margin: 20px 40px 0 40px;
    
}

.subtitle {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: bold;

    margin: 20px 40px 40px 40px;

}

.text {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: gray;
    margin: -25px 40px 40px 40px;
}

.price {
    margin: -25px 40px 40px 40px;
    color: rgb(46, 128, 61);
    font-size: 40px;
}

.subprice {
    margin: -70px 20px 15px 200px;
    text-decoration: line-through;
    color: gray;    
}

.btn {
    margin: 0 40px 0 50px;
    border-radius: 10px;
    border: 1px solid rgb(24, 76, 40);
    cursor: pointer;
    

    background-color: rgb(24, 76, 40);
    width: 280px;
    height: 60px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}